name: "JH Publish"

on:
  release:
    types: [published]
  push:
    branches:
      - master-jethub
  workflow_dispatch:

jobs:
  publish:
    name: Publish builder
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: False
      matrix:
        abi: ["cp313", "cp314"]
        tag: ["musllinux_1_2"]
        arch: ["aarch64", "amd64"]
        include:
          - abi: cp313
            base: 3.13-alpine3.22
          - abi: cp314
            base: 3.14-alpine3.22

          - arch: aarch64
            platform: linux/arm64
            runs-on: ${{ vars.RUNNERARM }}
          - arch: amd64
            platform: linux/amd64
            runs-on: ${{ vars.RUNNER }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - shell: bash
        id: info
        run: |
          declare -a docker

          name="ghcr.io/jethome-homeassistant/wheels/${{ matrix.arch }}/${{ matrix.tag }}/${{ matrix.abi }}"

          version=$(echo "${{ github.ref }}" | awk -F"/" '{print $NF}' )
          if [ "${version}" = "master" ]; then
            version=dev
          fi

          base="ghcr.io/jethome-homeassistant/${{ matrix.arch }}-base-python:${{ matrix.base }}"

          if [ "${{ matrix.arch }}" = "armhf" ]; then
            docker+=("--build-arg QEMU_CPU=arm1176")
          fi

          if docker pull "$name:dev" > /dev/null 2>&1; then
            docker+=("--cache-from $name:dev")
          fi

          echo "name=$name" >> $GITHUB_OUTPUT
          echo "version=$version" >> $GITHUB_OUTPUT
          echo "base=$base" >> $GITHUB_OUTPUT
          echo "docker=${docker[@]}" >> $GITHUB_OUTPUT

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - shell: bash
        run: |
          docker run --rm --privileged multiarch/qemu-user-static --reset -p yes

      - shell: bash
        run: |
          docker build \
            -t ${{ steps.info.outputs.name }}:${{ steps.info.outputs.version }} \
            ${{ steps.info.outputs.docker }} \
            --build-arg "BUILD_FROM=${{ steps.info.outputs.base }}" \
            --build-arg "BUILD_ARCH=${{ matrix.arch }}" \
            --build-arg "CPYTHON_ABI=${{ matrix.abi }}" \
            .

      - shell: bash
        run: |
          docker push ${{ steps.info.outputs.name }}:${{ steps.info.outputs.version }}
